
/*
*
* Copyright 2023
* Created by Nikita Mantsurov <n_mancurov@mail.ru>
*
* Here we specify global variables for styles
*
*/

//? Colors
$first_color: #2A2E37;
$second_color: #1B1E24;
$third_color: #21242C;
$colorfull_color: #00ADB5;

//? Navbar
$navbar_width: 70px;
$navbar_zindex: 150;

//? Sidebar
$sidebar_zindex: 140;

//? Headset
$headset-item_zindex: 140;

//? Popups
$popup_bgc: #111111;
$label-popup_c: #fff;