<div class="chat__messages">
  <ul class="chat__messages-inner">
    <li class="chat__message">
      <div class="chat__message-icon" style="background-image: url('assets/images/user-1.jpg');"></div>
      <div class="chat__message-right">
        <div class="chat__message-title" style="color: #F23F42;">Mister Nobody <time class="post-date">13/03/2023 21:36</time></div>
        <div class="chat__message-text">Hi, AFTERLIFE! How's going?</div>
      </div>
    </li>
    <li class="chat__message">
      <div class="chat__message-icon" style="background-image: url('assets/images/user.png');"></div>
      <div class="chat__message-right">
        <div class="chat__message-title" style="color: #FD7014;">AFTERLIFE <time class="post-date">13/03/2023 21:37</time></div>
        <div class="chat__message-text">Hey! All's good! How about u?</div>
      </div>
    </li>
  </ul>
</div>