<ul class="groups">
  <li class="group__item circle-link circle-link--active" data-notifications="2" data-label="Game Center">
    <div class="circle-link__inner" style="background-image: url(assets/images/groups-icons/group-icon-1.jpg);">
    </div>
  </li>
  <li class="group__item circle-link">
    <div class="circle-link__inner" style="background-image: url(assets/images/groups-icons/group-icon-2.jpg);">
    </div>
  </li>
  <li class="group__item circle-link"  data-notifications="0" data-label="Some Server">
    <div class="circle-link__inner" style="background-image: url(assets/images/groups-icons/group-icon-3.jpg);">
    </div>
  </li>
</ul>
<!-- /.groups -->