.chat__messages {
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  overflow-y: auto;
  padding: 10px 0;

  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: none;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(#21242C, .4);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(#21242C, 1);
    border: 2px solid #2A2E37;
    border-radius: 5px;
  }

  &:hover::-webkit-scrollbar {
    display: block;
  }
  .chat__messages-inner {
    margin-top: auto;
    padding: 0 15px;
    width: 100%;
    .chat__message {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      .chat__message-icon {
        width: 42px;
        height: 42px;
        border-radius: 50px;
        background-position: center;
        background-size: cover;
        margin-right: 5px;
      }
      .chat__message-right {
        display: flex;
        flex-direction: column;
        font-family: "Source Sans Pro",sans-serif;
        .chat__message-title {
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          time.post-date {
            font-size: 12px;
            color: rgba(#fff, .5);
          }
        }
        .chat__message-text {
          margin-top: 5px;
          color: #fff;
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
}