@import "../../vars";

$utils__item-svg_fill--active: #fff;

.utils {
  display: flex;
  flex-direction: column;
  align-items: center;
  .utils__item {
    &:not(:first-child) {
      margin-top: 10px;
    }
    .utils__item-svg {
      fill: $colorfull_color;
    }
    &.circle-link--active {
      .utils__item-svg {
        fill: $utils__item-svg_fill--active;
      }
    }
    &.circle-link {
      &::before {
        display: none;
      }
    }
  }
}